body{
    background-color: peachpuff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.cont {
    width: 100%;
    max-width: 1440px;
}
@font-face {
    font-family: 'Intern';
    src: url('/font/1601705654gj.ttf');
}
@font-face {
    font-family: 'Mulan';
    src: url('/font/16016296499m.ttf') format('truetype');
}
@font-face {
    font-family: 'Doctor';
    src: url('/font/160170559998.ttf') format('truetype');
}
.Intern{
    font-family: Intern;
    text-align: center;

}
.Doctor{
    font-family: Doctor;
    text-align: right;
}
.Mulan{
    font-family: Mulan;
    text-align: left;
}
.List a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
body img {
    width: 470px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}